Source: accelerator
Section: net
Priority: optional
Maintainer: ymshenyu <ymshenyu@gmail.com>
Build-Depends:  debhelper-compat (= 12),
                dh-golang,
Standards-Version: 4.5.0
Homepage: https://github.com/vdonkey/accelerator
#Vcs-Browser: https://salsa.debian.org/debian/v2ray-core
#Vcs-Git: https://salsa.debian.org/debian/v2ray-core.git
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/vdonkey/accelerator/v5

Package: accelerator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: accelerator-domain-list-community,
            accelerator-geoip,
            accelerator-geoip-only-cn-private
Description: Library platform for building proxies in golang
 Project Accelerator is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: accelerator-domain-list-community
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project Accelerator is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: accelerator-geoip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project Accelerator is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: accelerator-geoip-only-cn-private
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project Accelerator is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.
